{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" />
  <title>Registrarse</title>
</head>
<body>
  <div class="container active" id="container">
    <div class="form-container sign-up">
      <form method="post">
        <h1>Crear cuenta</h1>
        {% csrf_token %}
        {% for field in form %}
          {% if field.name == 'fecha_nacimiento' %}
            <div class="form-field">
              <label for="{{ field.id_for_label }}">Fecha de nacimiento:</label>
              {{ field }}
            </div>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.errors %}
            <div class="error-message">
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit">Registrarse</button>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>¿Ya tienes cuenta?</h1>
          <p>Inicia sesión con tus datos</p>
          <a class="hidden" href="{% url 'login' %}">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>